.list-inline-item a {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-black {
    color: black;
}

.dark .text-white {
    color: white;
}

.scroll-margin-top {
    margin-top: 60px;
}

.book-image {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .card-body {
    margin-left: 0px;
  }
  span.estrella-amarilla:hover {
    color: yellow;
  }