.list-inline-item a {
    text-decoration: underline;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .text-black {
    color: black;
  }
  
  .dark .text-white {
    color: white;
  }
  
  .scroll-margin-top {
    margin-top: 60px;
  }
  
  .book-image {
    float: left;
    width: 50px; /* Ajusta el ancho de la imagen al mismo tamaño que el texto */
    height: auto; /* Autoajusta la altura proporcionalmente */
  }
  
  .card-body {
    margin-left: 0px;
  }
  
  .estrella-amarilla {
    color: yellow;
  }
  
  /* Clase para la imagen a la izquierda del texto */
  .image-left {
    float: left;
    margin-right: 20px;
  }
  